itbēma gilgameš šunatam ipaššar
issaqqaram ana ummišu
ummī ina šât mušītiya
šamhākuma attipzirūnimma kakkabū šamā’ī
[kiṣ]rum ša anim imqutam ana ṣēriya
aššišuma iktabit eliya
unīssuma nuššašu ul elte’ianallak ina birīt eṭlūtim
uruk mātum pahir elišu
eṭlūtum unaššaqū šēpēšu
ummidma pūtī īmidū yâti
ašši’aššuma atbalaššu ana ṣēriki
ummi gilgameš mūde’at kalāma
issaqqaram ana gilgameš
minde gilgameš ša kīma kâti
ina ṣēri iwwalidma urabbišu šadû
tammaršuma tahaddu atta
eṭlūtum unaššaqū šēpēšu
teddiraššuma tatarrâššu ana ṣēriya
[i]ttīlamma ītamar šanītam
[i]tbe itawwi’am ana ummišu
[um]mī ātamar šanītam
[…] … ina sūqim [ša uru]k rebītim
haṣṣinnu nadīma elišu pahrū
haṣṣinnumma šani būnūšu
āmuršuma ahtadu anāku
arāmšuma kīma aššatim ahabbub ēlšu
elqešuma aštakanšu ana ahiya
ummi gilgameš mūde’at kalāma
38 [issaqqaram] a[na gilgameš]